label
  color green

input
    outline none
    margin-bottom 20px
    border-radius 5px
    -moz-border-radius 5px
    -webkit-border-radius 5px
    background-color cyan

fieldset
        margin-top 50px
      width 1000px
      margin auto

.error
  color red
  text-align left
.ok
  color green
.btn
   float right
#title h1
    text-align center
#login
        text-align center
